# Azure DevOps Pipeline for Pull Request Validation
# This pipeline only validates and plans Terraform (no apply)

trigger: none

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - '*.tf'
      - '*.tfvars'

variables:
  - group: terraform-variables
  - name: terraformVersion
    value: '1.6.0'
  - name: workingDirectory
    value: '$(System.DefaultWorkingDirectory)'

stages:
  - stage: Validate
    displayName: 'Validate Terraform'
    jobs:
      - job: TerraformValidate
        displayName: 'Terraform Validate'
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: TerraformInstaller@0
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: $(terraformVersion)

          - task: TerraformTaskV4@4
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              backendServiceArm: '$(azureServiceConnection)'
              backendAzureRmResourceGroupName: '$(terraformBackendResourceGroup)'
              backendAzureRmStorageAccountName: '$(terraformBackendStorageAccount)'
              backendAzureRmContainerName: '$(terraformBackendContainer)'
              backendAzureRmKey: 'terraform.tfstate'
              workingDirectory: '$(workingDirectory)'

          - task: TerraformTaskV4@4
            displayName: 'Terraform Validate'
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(workingDirectory)'

          - task: TerraformTaskV4@4
            displayName: 'Terraform Format Check'
            inputs:
              provider: 'azurerm'
              command: 'custom'
              customCommand: 'fmt -check -recursive'
              workingDirectory: '$(workingDirectory)'

          - task: TerraformTaskV4@4
            displayName: 'Terraform Plan (Preview)'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              environmentServiceNameAzureRM: '$(azureServiceConnection)'
              workingDirectory: '$(workingDirectory)'

